:root{
  --main-color: #0c7199;
  --section-padding:60px
}
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Yaldevi', sans-serif;
    color: #fff;
    /* background: #1b1f24; */
    /* background:linear-gradient(to right, #1b1f24 0%, #1b1f24 50%, #1b1f24, #852a3c 118%) */
    background: linear-gradient(to left, #1b1f24 12%, #852a3c 90%, #1b1f24 41%, #852a3c 41%);
  }
  ul {
    list-style: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
 
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* global  */
  @media(max-width:767px){
    h1{
      font-size:25px;
    }
  }
   /* Start Header */
header {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .logo img {
  height: 20px;
  color: white;
}



header nav .toggle-menu{
    color: white;
    font-size:22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
  header nav ul {
    display: flex;
    justify-content: center;
    position: relative;

  }

header nav ul {
  display: flex;
}


@media (max-width:767px){
  header nav ul{
      display: none;
  } 
  header nav .toggle-menu:hover +  ul{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 80%);
      color: #fff;
  }
  header nav .toggle-menu{
  position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  header nav ul li a {
      padding: 15px ;
    }
  }
 
header nav ul li a {
padding: 40px 10px;
display: block;
color: white;
text-decoration: none;
font-size: 14px;
transition: 0.3s;
position: relative;
z-index: 2;
}
header nav ul li a:hover {

  text-shadow: 1px 1px 20px #fff;
  transition: 0.5s;
}
header  .button a{
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #777;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10px;

  display: flex;
}
header  .button a:hover{
  background-color: #fff;
  color:#000;
  transition: 0.5s;
}

@media (max-width:767px){
  header  .button a{
    display: none;
  }
}
/* End Header */
/* start landing */
.landing{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.landing .text h1{
  text-align: center;
  letter-spacing: -1px;
  word-spacing: 5px;
  line-height: 1.5;
  font-weight: 900;
  font-size: 50px;
  /* color: #00aeef; */
  color: #fff;
}
.landing .text p{
  color: #777;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
}
@media (max-width:767px){
  .landing .text h1{
    font-size:25px ;
  }
  .landing .text p{
    font-size: 12px;
  }
}
.landing .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.landing .buttons .btn{
  margin-right: 20px;
  padding: 15px 25px;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  cursor: pointer
}
.landing .buttons #vedio-play{
background-color: #272b30;
color:#fff;
}
.landing .buttons #vedio-play:hover{
  background-color:#fff ;
  color: #000;
  transition: 0.5s;
  
}
.landing .buttons #smoking:hover{
 background-color: #272b30;
  color:#fff;
  transition: 0.5s;
}
.landing .buttons .icon{
  margin-left: 5px;
}
/* end landing */
/* section team */
.team{
 
  padding-bottom: var(--section-padding);
  
}

.team .content{
  width: 100%;
}
.team .content ul{
   
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;

}

.team .content ul li img{
  width: 200px;
  margin-right: 20px;
  border-radius: 15px;

}

.team .content ul li img.first{
  width: 260px;
  height: 211px;
}
.team .content ul li img.second{
  height: 370px;
  width: 240px;
}
.team .content ul li img.therd{
  width: 345px;
  height: 240px;
}
.team .content ul li img.fourth{
  height: 430px;
  width: 250px;
}
@media(max-width:767px){
  .team {
    display: none;
  }
  .team .content ul li img.fourth{
    height: 230px;
    width: 130px;
  }
  .team .content ul li img.therd{
    width: 130px;
    height: 110px;
  }
}

/* sectionteam */
/* start text */

.text .text-content{
  text-align: left;
  width: 100%;

}
.text .text-content h1{

  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 600;
}
@media(max-width:767px){
  .text .text-content h1{
    font-size: 30px;
  }
}
.text .text-content p {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
/* end text */
/* section boxs */
.boxs{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.boxs .boxs-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px
}
@media(max-width:767px){
  .boxs .boxs-content{
    flex-direction: column;
  }
}
.boxs .boxs-content .box
{
  height: auto;
  background-color: #fff;
  color: #000;
  position: relative;
  border-radius: 20px;
  text-align: center;
}
@media(max-width:767px){
  .boxs .boxs-content .box
  {
    width: 100%;
    margin-bottom: 10px;
  }
}
.boxs .boxs-content .box .content
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}


.boxs .boxs-content .box img
 {
  margin-bottom: 30px;
  width: 150px;
  max-width: 100px;

}



.boxs .boxs-content .box h2{
  font-weight: 600;
  text-transform: capitalize;
  padding: 20px 0;
  font-size: 20px;
  letter-spacing: -1px;
  word-spacing: -1px;
}
.boxs .boxs-content .box p{
  line-height: 1.5;
  padding: 0 30px;
  font-size: 12px;
}
/* section boxs */
/* section phones */
.phone{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.phone .container .content{
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1199px)
{
  .phone .content .phone-1 {
    flex-basis: calc(50% - 20px);
    margin: 0 20px 10px 0px;
  }
  }
  @media (min-width: 768px){
    .phone .content .phone-1 {
      flex-basis: calc(50% - 20px);
      margin: 0 20px 10px 0px;
  }
  }
  .phone .content .phone-1 img{
    max-width: 100%;
    border-radius: 20px;
    transition: 0.5s;
  }
  .phone .content .phone-1:hover img{
    transform: rotate(4deg) scale(0.9);
  }
/* section phones */
/* section comment */
.comment{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.comment .container{
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px #333;
    border-radius: 20px;
    padding: 50px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px #333;
    border-radius: 20px;
    padding: 50px;
}


.comment .comment-content .text{
  text-align: center;
  margin-bottom: 50px;
}
.comment .comment-content .text h1{
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 600;
}

.comment .comment-content .text p{
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.comment .comment-content  .box{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(275px ,1fr));
  grid-gap: 20px;
}
.comment .comment-content  .box .first{
  color: #000;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}


.comment .comment-content  .box .first h4   {
  font-size: 14px;
  font-weight: bold;
  color: #ffff00;
}
.comment .comment-content  .box .first h4 > span{
  color: #ddd;
}
.comment .comment-content  .box .first p{
  line-height: 1.8;
  font-size: 12px;
  padding: 20px 0;
  font-weight: 600;
}
.comment .comment-content  .box .first .denny{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment .comment-content  .box .first .denny img{
 width: 50px;
 border-radius: 50%;
}
.comment .comment-content  .box .first .denny .denny-content{
  margin-left: 10px;
}
.comment .comment-content  .box .first .denny .denny-content h4{
  margin-left: 10px;
  padding-bottom: 5px;
  color: #000;
  font-size: 13px;
}
.comment .comment-content  .box .first .denny span{
  margin-left: 10px;
  font-size: 12px;
  color: hsl(345deg 53% 65%);
  font-weight: 600;
}


/* section comment */
/* section value  */

.value .container .value-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 50px) , 1fr));
  grid-gap: 50px;
  margin: 22px 0;
}
.value .container .value-content .text{
  padding: 0 25px;
}
.value .container .value-content .text h1{
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 600;
}
.value .container .value-content .text p{
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.value .container .emoji
{
    /* padding: 20px 0 30px 30px; */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    margin: 22px 0;
}
.value .container .emoji button{
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 10px 10px 37px;
  font-size: 14px;
  font-weight: normal;
  cursor: no-drop;
  margin-bottom: 15px;
}
@media(max-width:991px){
  .value .container .value-content{
    display: flex;
    flex-direction: column;
  }
  .value .container .emoji{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .value .container .value-content .text{
    text-align: center;
    text-align: center;
    padding: 0;
  }
}
/* section value */
/* section contant */
.contant{
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);

}

.contant .contant-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #333;
  border-radius: 20px;
  padding: 50px;
  overflow: hidden;
}
@media(max-width:767px){
  .contant .contant-content {
    padding:50px 0;
  }
}
.contant .contant-content .info h1{
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 600;
}
.contant .contant-content .info p{
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
@media(max-width:767px){
  .contant .contant-content .info{
    text-align: center;
  }
}
.contant .contant-content .info input[type="email"] {
  background-color: #fff;
  padding: 10px 20px;
  width: calc(100% - 150px);
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  outline: none;
}


.contant .contant-content .info button{
  font-size: 14px;
  background-color: #3799ec;
  color: #fff;
  padding: 10px 30px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
}
@media(max-width:767px){
  .contant .contant-content .info input[type="email"]{
    width: calc(100% - 30px);
  }
  .contant .contant-content .info button{
    margin: 20px auto;
    width: 50%;
  }
}
.contant .contant-content  img{
  width: 500px;
  transform: rotate(14deg) scale(1.5) translate(100px, 30px);

}
@media(max-width:991px){
  .contant .contant-content  img{
    display: none;
  }
}
/* section contant */
/* address section */
.address-content .container .all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  width: 100%;
  border-bottom: 1px solid #777;
}

.address-content .container .all .address{
  font-size: 14px;
}
.address-content .container .all .address h4{
  margin-bottom: 20px;
  font-weight: bold;
}
.address-content .container .all .address p {
  color: #777;
  margin-bottom: 20px;
}
.address-content .container .all .address a{
  text-decoration: none;
  color: #777;
}

/* address section */
/* footer */
footer{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
footer .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}


footer .container .icon i{
  
  margin-right: 20px;

}
footer .container a{
  text-decoration: none;
    color: #fff;
}
@media(max-width:767px){

  footer .container .copyright{
    display: none;
  }
}

/* footer */
